<section ng-controller="MainController">

  <section class="intro-inscri">
    <h1>Faça a Sua Inscrição</h1>
  </section>

  <section class="inscri-cadastro">
    <div class="inscri-progress">
      <div class="ponto-1"></div>
      <div class="progress-1"></div>
      <div class="ponto-2" style="top: -25px;background: #4455DD;"></div>
      <div class="ponto-3" style="top: -41px;"></div>
    </div>

    <div class="inscri-progress-info">
      <div class="inscri-progress-info-item">
        <h2>1-Etapa</h2>
        <span>Dados Pessoais</span>
      </div>
      <div class="inscri-progress-info-item" style="margin-right: 25px;">
        <h2>2-Etapa</h2>
        <span>Telefone</span>
      </div>
      <div class="inscri-progress-info-item">
        <h2>3-Etapa</h2>
        <span>Instruções</span>
      </div>
    </div>

    <div class="container-fluid container-inscri-2">
      <div class="row">
        <form class="col-12">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputEmail4">Telefone</label>
              <input type="text" class="form-control" id="inputEmail4" placeholder="DDD + Número">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputAddress">Especialidade</label>
              <input type="number" class="form-control" id="inputAddress" placeholder="xxx-xxx-xxx-xxx">
            </div>
          </div>
        </form>
        <div class="col-12 text-center">
          <a class="btn btn-primary" href="inscricao-3.html">Cadastrar</a>
        </div>
      </div>
    </div>
  </section>
</section>